// .grid {
//     display: grid;
//     grid-template-columns: auto auto;

//     &__main {

//     }

//     &__sidebar {

//     }
// }
// Mdn@Ayun98989800

.gird {
    display: grid;
    gap: $grid-gap;

	&__2columns {
		grid-template-columns: auto auto;
        
		@media (min-width: 978px) {
			grid-template-columns: auto;
		}
	}

	&__3columns {
		grid-template-columns: auto auto auto;

		@media (min-width: 978px) {
			grid-template-columns: auto;
		}
	}
}
